body {
    background-color: #aed1df;
    padding: 20px 40px;
}

.container {
    background-color: rgb(222, 214, 187);
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(62, 7, 7);
}

.inputBoxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#description {
    border-radius: 5px;
    padding: 5px 20px;
    width: 50%;
    border: 1px solid rgb(81, 17, 59);
}

#amount {
    border-radius: 5px;
    padding: 5px 20px;
    width: 50%;
    border: 1px solid rgb(81, 17, 59);
}

#dropdown {
    border-radius: 5px;
    padding: 5px 20px;
    width: 30%;
    border: 1px solid rgb(81, 17, 59);
}

.buttons1 {
    padding: 15px;
}

.button2Individ {
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid rgb(81, 17, 59);
    cursor: pointer;
}

#addBtn {
    border-radius: 5px;
    padding: 3px 15px;
    margin-right: 10px;
    border: 1px solid rgb(81, 17, 59);
    cursor: pointer;
}

#ResetBtn {
    border-radius: 5px;
    padding: 3px 15px;
    border: 1px solid rgb(81, 17, 59);
    cursor: pointer;
}

#taskList{
    padding:0px;
    list-style: none;
}

li {
    background-color: rgb(175, 146, 109);
    padding: 5px 15px;
    /* padding-left: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 50%;
    border-radius: 5px;
    gap: 60px;
}

.button2{
    align-items: center;
}

.button2Edit {
    background-color: rgb(12, 103, 31);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.button2Delete {
    background-color: rgb(132, 14, 14);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.elements2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 30%;
}

/*css for smaller screen*/
@media(max-width:768px) {
    * {
        font-size: 14px;
    }

    .elements2 {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 40%;
    }

    li {
        width: 80%;
    }

    #description {
        width: 70%;
    }
    #amount {
        width: 70%;
    }

}